[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lei Zhang (wildinto)
[access "refs/for/refs/*"]
	read = group user/Lei Zhang (wildinto)
	push = group user/Lei Zhang (wildinto)
	label-Code-Review = -2..+2 group user/Lei Zhang (wildinto)
	label-Verified = -1..+1 group user/Lei Zhang (wildinto)
	rebase = group user/Lei Zhang (wildinto)
	removeReviewer = group user/Lei Zhang (wildinto)
	submit = group user/Lei Zhang (wildinto)
[access "refs/heads/*"]
	read = group user/Lei Zhang (wildinto)
	create = group user/Lei Zhang (wildinto)
	push = +force group user/Lei Zhang (wildinto)
	pushMerge = group user/Lei Zhang (wildinto)
[access "refs/tags/*"]
	push = +force group user/Lei Zhang (wildinto)
	pushTag = group user/Lei Zhang (wildinto)
	pushSignedTag = group user/Lei Zhang (wildinto)
